# Never check in binary files!
*.h5
*.bz2
*.gz

# Ignore (in-place) build results
cext.cpp
cext.so
*.pyc
build

# Ignore compiled dependencies
depends/*.*

# Ignore results in the tools directory
tools/cmp_gaussian/0*
tools/cmp_gaussian/check_*.png
