recursive-include horton *.pyx *.pxd *.h *.cpp
recursive-exclude horton cext.cpp

include data/setup_cfgs/*.cfg
include data/setup_cfgs/README

include doc/*.rst
include doc/*.py
include doc/doxygen.conf
include doc/*.png
include doc/*.svg
include doc/Makefile
include doc/_static/custom.css
include doc/_templates/footer.html
exclude doc/tech_ref_literature.rst
exclude doc/tech_ref_functionals.rst

include depends/Makefile

include README
include COPYING
include dependencies.json

include tools/qa/common.sh
include tools/qa/install_libint-2.0.3.sh
include tools/qa/install_libxc-2.2.2.sh
