li p, li blockquote, li div {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

div.code-block-caption {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}

div.literal-block-wrapper {
    background: #DDDDDD;
}

span.eqno {
    float: right;
    margin-top: 6px;
}
